*.pyc
/datasets
/models
/results
/notebooks/datasets
/notebooks/models
/notebooks/results
/notebooks/netdissect
/notebooks/experiment
/notebooks/unused
__pycache__
.DS_Store
.__*
.ipynb*
.nfs*
.*swp
.idea
